# /gitignore

# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
.next/
build/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE / Editor specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?